* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.header {
    font-size: 6vmin;
    padding: 40px 0 40px 0 ;
    font-weight: 600;
}

body {
    position: relative;
    background-color: #ffffff;
}

/* Navbar */

nav {
    height: 38px;

    display: flex;
    justify-content: right;
    align-items: center;

    background-color: rgb(0, 0, 0);

    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-items {
    padding-right: 20px;
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

.nav-item {
    margin-right: 30px;
    list-style: none;
}

.nav-link::before {
    content: '';
    bottom: 0;
    height: 3px;
    background-color: rgb(124, 255, 17);
    position: absolute;
    width: 0%;
    border-radius: 10px;
    transition-duration: 0.6s;
}

.nav-link:hover::before {
    width: 100%;
    transition-duration: 0.6s;
}

/* Navbar css end */

@media screen and (max-width : 320px) {
    section {
        align-items: left;
    }
}

.question {
    padding: 0 0 20px 0;
    font-size: 18px;
}

main {
    padding: 30px 10%;
}

code {
    width: 100%;
}

code::-webkit-scrollbar {
    display: none;
}